@using System
@using System.Linq
@using Sandbox
@using Sandbox.UI;
@attribute [StyleSheet]
@inherits Panel
@namespace Espionage.UI.Menu

<root class="menu__start-menu">
    <div class="terminal-back">
        <div class="header" style="display: none">
            <div>
                <label text="menu"></label>
            </div>
            <div style="flex-grow: 1"></div>
            <div style="font-size: 14px; align-items: flex-end">
                <label text="User: "></label>
                @Game.UserName
            </div>
        </div>
        <div class="terminal-output">
            <label @ref="Panel" id="terminal-output__text"></label>
        </div>
        <div class="footer" style="bottom: 0">
            <div>
                Terminal 32
            </div>
            <div style="flex-grow: 1;"></div>
            <div style="font-size: 14px;  justify-content: flex-start">
                Phoenix OS
            </div>
        </div>
    </div>

    <div class="terminal-front">
        <div class="title">
            @Game.Menu.Package.Title
        </div>
        <div class="navigator">
            @foreach (var item in Details)
            {
                <TerminalHoverButton
                    onclick="@(item.OnClicked)"
                    onmousemove="@(() => OnButtonMouseEnter(item))"
                    onmouseout="@(() => Panel.Text = string.Empty)"
                    Text="@(item.Title)"
                    Tooltip="@(item.Tooltip)"
                    style="max-width: 512px; align-self: stretch">
                </TerminalHoverButton>
            }
        </div>
    </div>
</root>

@code {

    private Label Panel { get; set; }

    private struct ButtonDetails
    {
        public ButtonDetails(string title, string tooltip, Action onClicked)
        {
            Title = title;
            Tooltip = tooltip;
            OnClicked = onClicked;
        }

        public string Title { get; }
        public string Tooltip { get; }
        public Action OnClicked { get; }
    }

    private ButtonDetails[] Details => new[]
    {
        new ButtonDetails("Play", "Quick Matchmaking", OnPlayClicked),
        new ButtonDetails("Settings", "Adjust User Settings", OnSettingsClicked),
        new ButtonDetails("Servers", "Find your Community", OnServersClicked),
        new ButtonDetails("Community", "Join our Discord", OnCommunityClicked),
        new ButtonDetails("Quit", "Quit Espionage", OnCloseClicked)
    };

    private void OnPlayClicked()
    {
        if (!Game.InGame)
        {
            Game.Menu.StartServerAsync(1, "Server", "woosh.map_esp_item_lab");
        }
        else
        {
            Game.Menu.HideMenu();
        }
    }

    private void OnButtonMouseEnter(ButtonDetails details)
    {
        Panel.Text = "C:/menu/... " + details.Title.ToLower();
    }

    private void OnSettingsClicked() { }
    private void OnServersClicked() { }
    private void OnCommunityClicked() { }

    private void OnDisconnectClicked()
    {
        Game.Menu.LeaveServer("Left the server");
    }

    private void OnCloseClicked()
    {
        Game.Menu.Close();
    }

}