@using System
@using Sandbox;
@using Sandbox.UI;
@attribute [StyleSheet]
@inherits Panel
@implements Sandbox.Menu.IGameMenuPanel
@namespace Espionage.UI.Menu

<root class="menu__start-menu">
    <div class="header">
        <div>
            <span>@DateTime.Now.ToLongTimeString()</span>
        </div>
        <div style="flex-grow: 1"></div>
        <div style="font-size: 14px; flex-direction: column; justify-content: flex-end">
            @Game.UserName
        </div>
    </div>
    <div class="title">
        <label class="game-title">
            @Game.Menu.Package.Title
        </label>
    </div>
    <div class="navigator">
        <button class="play-button button" onclick="@(() => Game.Menu.StartServerAsync(1, "Server", "playground/item_test"))">
            <span>> Play</span>
        </button>
        <button class="play-button button">
            <span>> Settings</span>
        </button>
        <button class="play-button button">
            <span>> Servers</span>
        </button>
        <button class="button">
            <span>> Community</span>
        </button>
        @if (Game.InGame)
        {
            <button class="button" onclick="@(() => Game.Menu.LeaveServer("Client Disconnect"))">
                <span>> Quit</span>
            </button>
        }
        else
        {
            <button class="button" onclick="@(() => Game.Menu.Close())">
                <span>> Close</span>
            </button>
        }
    </div>

    <div class="footer">
        <div>
            <span>Terminal 32</span>
        </div>
        <div style="flex-grow: 1;"></div>
        <div style="font-size: 14px;  justify-content: flex-start">
            Phoenix OS
        </div>
    </div>
</root>

@code {

    protected override int BuildHash()
    {
        return DateTime.Now.GetHashCode();
    }

}